.PhotoCard {
  position: relative;
  // border: 2px solid red;
  max-width: 100px;
  margin-bottom: 4%;
  box-shadow: 5px 10px 10px rgba($color: #000000, $alpha: 1);

  @media screen and (min-width: 1000px) {
    max-width: 200px;
    margin-bottom: 2%;
  }

  img {
    width: 100%;
  }

  div.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;

    .left,
    .right {
      width: 50%;
    }

    .right:hover > div.info {
      left: 50%;
      top: 50%;
      transform: scaleX(1) translateY(-50%);
      transform-origin: left;
      transition: transform 1s;
    }
    .left:hover > div.info {
      right: 50%;
      top: 50%;
      transform: scaleX(1) translateY(-50%);
      transform-origin: right;
      transition: transform 1s;
    }

    div.info {
      z-index: 2;
      position: absolute;
      transform: scaleX(0) translateY(-50%);
      box-shadow: 5px 10px 10px rgba($color: #000000, $alpha: 1);
      background-color: rgba($color: grey, $alpha: 0.8);
      padding: 0;

      width: 110px;
      @media screen and (min-width: 1000px) {
        width: 220px;
      }

      p.title {
        font-family: "Anton", sans-serif;
      }

      p.title,
      p.date {
        word-break: break-all;
        // border: 2px solid red;
        font-size: 10px;
        padding: 5px;
        @media screen and (min-width: 1000px) {
          font-size: 20px;
          padding: 10px;
        }
      }
    }
  }
}
