.NewAlbum {
  padding-top: 100px;
  min-height: 100vh;
  border: 2px solid red;

  form {
    border: 2px solid red;

    margin: 0 auto;
    width: 70%;
    display: flex;
    gap: 1em;
    flex-direction: column;

    font-family: "Teko", sans-serif;
    font-size: 4vw;
    @media screen and (min-width: 751px) {
      font-size: 2vw;
    }

    [name="title"],
    button {
      text-align: center;
      font-family: "Teko", sans-serif;
      font-size: 4vw;
      @media screen and (min-width: 751px) {
        font-size: 2vw;
      }
    }
  }
}
