.NewAlbum {
  padding-top: 100px;
  margin: 0 auto;
  min-height: 100vh;

  font-family: "Teko", sans-serif;
  font-size: 4vw;
  @media screen and (min-width: 751px) {
    font-size: 2vw;
    width: 50%;
  }

  h1,
  div {
    text-align: center;
  }

  a {
    text-decoration: none;
    color: black;
    line-height: 1;
    margin: 0;
    padding: 0;

    &:hover {
      color: red;
    }
  }

  p {
    text-align: center;

    &.error {
      color: red;
      font-weight: bold;
    }

    &.info {
      font-weight: bold;
      line-height: 1;
      margin: 0;
      padding: 0;
    }
  }

  form {
    background-color: rgba($color: gray, $alpha: 0.8);
    padding: 1em;
    border-radius: 1em;
    box-shadow: 5px 10px 10px rgba($color: #000000, $alpha: 1);

    margin: 0 auto;
    width: 70%;
    display: flex;
    gap: 1em;
    flex-direction: column;

    [name="title"],
    button {
      width: 100%;
      text-align: center;
      font-family: "Teko", sans-serif;
      font-size: 4vw;
      @media screen and (min-width: 751px) {
        font-size: 2vw;
      }

      &:invalid {
        // background-color: red;
        border: 2px solid red;
      }
    }
  }
}
